@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
header{
    font-weight: 800;
    text-align: center;
    
}
body{
    font-family: 'Prompt', sans-serif;
    background-color: black;
    color:aliceblue;
}
   
 

img{width: 80px;
    height: 100px;
    border-radius: 20px;
}
p{
    position: relative;
    bottom: 100px;
    margin-left: 110px;
}
section.mike{
    position: relative;
    left:350px;
}
section.mike{
    position: relative;
    bottom:195px;
}
section.rob{
    position: relative;
    bottom: 395px;
    left:650px;
}
section.brad{
    position: relative;
    bottom: 495px;
    left:0px;
}
section.joe{
    position: relative;
    bottom: 695px;
    left:350px;
}
section.dave{
    position: relative;
    bottom: 895px;
    left:650px;
}
    

.hybrid{
    border-radius: 0px;
    width: 200px;
    height:200px;
    position: relative;
    bottom:1000px;
}
h2{
    position: relative;
    bottom: 995px;
}
.th{
    position: relative;
    bottom: 1220px;
    left:140px;
}
.so{
    position: relative;
    bottom: 1220px;
    left:140px;
    line-height: 0px;
}
.bo{
    background-color:rgb(10, 126, 126);
    color: white;
    border-radius: 100px;
}
.pp{
    position: relative;
    left: 343px;
    bottom: 1260px;
    line-height: 5px;
   
}
.po{
    position: relative;
    left: 393px;
    bottom: 1297px;
    line-height: 0px;
}
.pq{
    position: relative;
    left: 353px;
    bottom: 1332px;
    line-height: 0px;
}
.pr{
    position: relative;
    left: 333px;
    bottom: 1370px;
    line-height: 0px;
}
.sp{
    position: relative;
    bottom: 1260px;
    left:140px;
    line-height: 0px;
}
.sq{
    position: relative;
    bottom: 1295px;
    left:140px;
    line-height: 0px;
}
.sr{
    position: relative;
    bottom: 1333px;
    left:140px;
    line-height: 0px;
}














